[General]
checkBoxLookForUpdates=false
checkBoxMinimizedWhenRecordingStarts=true
checkBoxMouseCursorOnOff=false
checkBoxResetAtNextStart=false
checkBoxShowInSystray=true
checkBoxShowInSystrayAlternative=true
checkBoxStartsMinimized=false
lineEditVideoPath=/home/{{ USER.NAME }}/Videos/Screencast
radioButtonScreencastArea=false
radioButtonScreencastFullscreen=true
radioButtonScreencastWindow=false
sliderLimitOfFreeDiskSpace=500
sliderScreencastCountDown=0
sliderSecondWaitBeforeRecording=1
sliderShowInSystrayAlternative=48
sliderVideo=0
sliderVolume=60
toolButtonMute=audio-volume-high
