[General]
DkExplorer=1

[AppSettings]
appMode=0
closeOnEsc=true
currentAppMode=0
defaultJpgQuality=80
firstTime.nomacs.3=true
showRecentFiles=false

[DisplaySettings]
defaultIconColor=true
iconSize=22
transition=1
useDefaultColor=true

[DkDialog]
overwriteDialog=true
saveEditDialog=true
saveTabsDialog=true

[DkExplorer]
LoadSelected=false
NameHidden=false
NameSize=254
ReadOnly=true
SizeHidden=true
SizeSize=0
TypeHidden=true
TypeSize=0

[DkFilePreview]
windowPosition=1

[DkMetaDataHUD]
numColumns=-1
windowPosition=3

[DkResizeDialog]
CorrectGamma=true
Resample=true
ResampleMethod=3

[GlobalSettings]
logRecentFiles=false
numThreads=-1
showBgImage=false
tmpPath=/home/{{ USER.NAME }}/Pictures/Screenshots
useTmpPath=true

[SynchronizeSettings]
checkForUpdates=false
disableUpdateInteraction=false
