[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
{% if TASKBAR_ON_TOP %}location=4
{% else %}location=3
{% endif %}
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=0
timerHide=800
timerShow=200
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][3]
immutability=1
plugin=audoban.applet.separator

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][4][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.konsole.desktop,applications:org.kde.dolphin.desktop

[Containments][1][Applets][5]
immutability=1
plugin=audoban.applet.separator

[Containments][1][Applets][6]
immutability=1
plugin=org.kde.plasma.analogclock

[Containments][1][General]
advanced=false
appletOrder=2;3;4;5;6
iconSize=48
middleClickAction=Close
modifierClickAction=NewInstance
panelShadows=false
shadowOpacity=100
shadowSize=20
showGlow=false
zoomLevel=12

[LayoutSettings]
preferredForShortcutsTouched=false
showInMenu=true
