[Keyboard]
KeyboardRepeating=0
{% if NUMLOCK_ON_BY_DEFAULT is not defined %}NumLock=2
{% elif NUMLOCK_ON_BY_DEFAULT %}NumLock=0
{% else %}NumLock=1
{% endif %}
RepeatDelay=600
RepeatRate=25

[Mouse]
cursorTheme=Oxygen_White
