[Desktops]
Id_1={{ "Desktop 1" | random | to_uuid }}
Number=1
Rows=1

[Effect-DesktopGrid]
BorderActivate=1

[ElectricBorders]
TopLeft=None

[TabBox]
BorderActivate=9
DesktopLayout=org.kde.breeze.desktop
DesktopListLayout=org.kde.breeze.desktop
LayoutName=org.kde.breeze.desktop
TouchBorderActivate=9
