[ActionPlugins][0]
MidButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu
wheel:Vertical;NoModifier=org.kde.switchdesktop

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][1]
formfactor=2
immutability=1
lastScreen=0
{% if TASKBAR_ON_TOP %}location=3
{% else %}location=4
{% endif %}
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][1][Applets][2][Configuration][General]
alphaSort=true
favoritesPortedToKAstats=true
icon=start-here-archlinux
menuItems=bookmark:t,application:t,computer:t,leave:t,used:f,oftenUsed:f
useExtraRunners=false

[Containments][1][Applets][3]
immutability=1
plugin=org.kde.plasma.icontasks

[Containments][1][Applets][3][Configuration][General]
launchers=preferred://filemanager,applications:systemsettings.desktop

[Containments][1][Applets][4]
immutability=1
plugin=org.kde.plasma.pager

[Containments][1][Applets][4][Configuration][General]
displayedText=Number

[Containments][1][Applets][5]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][1][Applets][5][Configuration]
SystrayContainmentId=8

[Containments][1][Applets][6]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][1][Applets][6][Configuration][Appearance]
enabledCalendarPlugins=/usr/lib/qt/plugins/plasmacalendarplugins/astronomicalevents.so,/usr/lib/qt/plugins/plasmacalendarplugins/holidaysevents.so
showWeekNumbers=true

[Containments][1][Applets][7]
immutability=1
plugin=org.kde.plasma.showdesktop

[Containments][1][General]
AppletOrder=2;3;4;5;6;7

[Containments][8]
formfactor=2
immutability=1
lastScreen=0
{% if TASKBAR_ON_TOP %}location=3
{% else %}location=4
{% endif %}
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][8][General]
extraItems=org.kde.plasma.nightcolorcontrol,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.notifications,org.kde.plasma.battery,org.kde.plasma.printmanager,org.kde.plasma.clipboard
knownItems=org.kde.plasma.nightcolorcontrol,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.vault,org.kde.plasma.mediacontroller,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.volume,org.kde.plasma.notifications,org.kde.plasma.battery,org.kde.plasma.printmanager,org.kde.plasma.clipboard
