[General]
DisableAutoSelection=true
PreviewDPI=100
SetPreviewDPI=false

[Image Saving]
ImgFormat=png
ImgQuality=80
Location=/home/{{ USER.NAME }}/Pictures/Scanner
NamePrefix=SCAN-
NumberStartsFrom=1
SaveMode=1
SetQuality=false
ShowBeforeSave=true
