[audacious]
always_resume_paused=FALSE
convert_backslash=TRUE
equalizer_active=TRUE
equalizer_bands=0.96,3.36,3.36,0.96,-3.36,0.96,3.36,6.24,6.24,3.36
filepopup_delay=10
leading_zero=TRUE
output_buffer_size=1000
replay_gain_mode=1
resume_playback_on_startup=FALSE
show_numbers_in_pl=TRUE
soft_clipping=TRUE

[audgui]
no_confirm_playlist_delete=TRUE

[skins]
equalizer_visible=TRUE
playlist_visible=TRUE
skin=/home/{{ USER.NAME }}/.local/share/audacious/Skins/Winamp_Classic.wsz
twoway_scroll=TRUE
