[MainWindow]
ToolBarsMovable=Disabled

[downloads]
completedDir=/home/{{ USER.NAME }}/Downloads/KTorrent
fullDiskPrealloc=true
maxConnections=200
maxDownloadRate=12800
maxDownloads=4
maxSeeds=2
maxTotalConnections=800
maxUploadRate=256
minDiskSpace=2000
numMagnetDownloadingSlots=4
numUploadSlots=32
requeueMagnetsTime=4
tempDir=/home/{{ USER.NAME }}/.local/share/ktorrent
useCompletedDir=true
useEncryption=true
