[General]
MainWindowLastDir=/home/{{ USER.NAME }}/Downloads/qBittorrent

[BitTorrent]
Session\CreateTorrentSubfolder=true
Session\DisableAutoTMMByDefault=true

[Core]
AutoDeleteAddedTorrentFile=Never

[GUI]
DownloadTrackerFavicon=false
Log\Enabled=false
Notifications\Enabled=true
Notifications\TorrentAdded=false

[LegalNotice]
Accepted=true

[Preferences]
Advanced\DisableRecursiveDownload=false
Advanced\RecheckOnCompletion=false
Advanced\TrayIconStyle=0
Advanced\confirmRemoveAllTags=true
Advanced\confirmTorrentDeletion=true
Advanced\confirmTorrentRecheck=true
Advanced\trackerPort=9000
Advanced\useSystemIconTheme=true
Bittorrent\AddTrackers=false
Bittorrent\MaxConnecs=800
Bittorrent\MaxConnecsPerTorrent=200
Bittorrent\MaxRatioAction=0
Bittorrent\MaxUploads=160
Bittorrent\MaxUploadsPerTorrent=32
Bittorrent\PeX=true
Connection\GlobalDLLimitAlt=12800
Connection\GlobalUPLimit=256
Connection\GlobalUPLimitAlt=256
Connection\PortRangeMin={{ TORRENT_INCOMING_TRAFFIC_PORT }}
Connection\ResolvePeerCountries=true
Connection\ResolvePeerHostNames=false
Connection\alt_speeds_on=true
Downloads\DblClOnTorDl=0
Downloads\DblClOnTorFn=2
Downloads\NewAdditionDialog=true
Downloads\NewAdditionDialogFront=true
Downloads\PreAllocation=true
Downloads\SaveResumeDataInterval=60
Downloads\StartInPause=false
General\AlternatingRowColors=true
General\CloseToTray=true
General\CloseToTrayNotified=true
General\ExitConfirm=true
General\HideZeroComboValues=0
General\HideZeroValues=false
General\MinimizeToTray=false
General\NoSplashScreen=true
General\PreventFromSuspendWhenDownloading=true
General\PreventFromSuspendWhenSeeding=false
General\RefreshInterval=2000
General\StartMinimized=false
General\SystrayEnabled=true
General\UseCustomUITheme=false
General\UseRandomPort=false
Queueing\MaxActiveDownloads=4
Queueing\MaxActiveTorrents=8
Queueing\MaxActiveUploads=2
Queueing\QueueingEnabled=true
Scheduler\Enabled=true
Scheduler\days=0
Scheduler\end_time=@Variant(\0\0\0\xf\x4\xb8\x7f\0)
Scheduler\start_time=@Variant(\0\0\0\xf\x1I\x97\0)

[RSS]
AutoDownloader\DownloadRepacks=true
Session\RefreshInterval=60

[ShutdownConfirmDlg]
DontConfirmAutoExit=false

[TorrentAdditionDlg]
save_path_history=/home/{{ USER.NAME }}/Downloads/qBittorrent
