[Unit]
Description=rTorrent Daemon for %I
After=network.target

[Service]
Type=simple
User=%I
Group={{ USER.GROUP }}
WorkingDirectory=/home/%I
ExecStartPre=-/bin/rm -f /home/%I{{ RTORRENT_DIRECTORY }}/.session/rtorrent.lock
ExecStart={% if (FIREJAIL_ENABLED | default(True)) %}/usr/bin/firejail {% endif %}/usr/bin/rtorrent -o system.daemon.set=true
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
