[BitTorrent]
title=BitTorrent
description=General BitTorrent clients traffic ports
ports={{ TORRENT_INCOMING_TRAFFIC_PORT }},{{ DISTRIBUTED_HASH_TABLE_PORT }}/tcp|{{ TORRENT_INCOMING_TRAFFIC_PORT }}/udp
