#
# mpv configuration file
#
# Warning:
#
# The commented example options usually do _not_ set the default values. Call
# mpv with --list-options to see the default values for most options. There is
# no builtin or example mpv.conf with all the defaults.
#
#
# Configuration files are read system-wide from /usr/local/etc/mpv.conf
# and per-user from ~/.config/mpv/mpv.conf, where per-user settings override
# system-wide settings, all of which are overridden by the command line.
#
# Configuration file settings and the command line options use the same
# underlying mechanisms. Most options can be put into the configuration file
# by dropping the preceding '--'. See the man page for a complete list of
# options.
#
# Lines starting with '#' are comments and are ignored.
#
# See the CONFIGURATION FILES section in the man page
# for a detailed description of the syntax.
#
# Profiles should be placed at the bottom of the configuration file to ensure
# that settings wanted as defaults are not restricted to specific profiles.

##################
# video settings #
##################

# Start in fullscreen mode by default.
#fs=yes

# Force starting with centered window.
#geometry=50%:50%

# Do not allow a new window to have a size larger than 90% of the screen size.
#autofit-larger=90%x90%

# Do not close the window on exit.
#keep-open=yes

# Do not wait with showing the video window until it has loaded. (This will
# resize the window once video is loaded. Also always shows a window with
# audio.)
#force-window=immediate

# Disable the On Screen Controller (OSC).
#osc=no

# Keep the player window on top of all other windows.
#ontop=yes

# Specify high quality video rendering preset (for --vo=gpu only).
# Can cause performance problems with some drivers and GPUs.
{% if HIGH_QUALITY_VIDEO_RENDERING %}profile=gpu-hq
scale=ewa_lanczossharp
cscale=ewa_lanczossharp
{% else %}#profile=gpu-hq
#scale=ewa_lanczossharp
#cscale=ewa_lanczossharp
{% endif %}

# Force video to lock on the display's refresh rate, and change video and audio
# speed to some degree to ensure synchronous playback - can cause problems
# with some drivers and desktop environments.
{% if HIGH_QUALITY_VIDEO_RENDERING %}video-sync=display-resample
interpolation
tscale=oversample
{% else %}#video-sync=display-resample
#interpolation
#tscale=oversample
{% endif %}

# Enable hardware decoding if available. Often, this does not work with all
# video outputs, but should work well with default settings on most systems.
# If performance or energy usage is an issue, forcing the vdpau or vaapi VOs
# may or may not help.
#hwdec=auto

##################
# audio settings #
##################

# Specify default audio device. You can list devices with: --audio-device=help
# The option takes the device string (the stuff between the '...').
#audio-device=alsa/default

# Do not filter audio to keep pitch when changing playback speed.
#audio-pitch-correction=no

# Output 5.1 audio natively, and upmix/downmix audio with a different format.
#audio-channels=5.1
# Disable any automatic remix, _if_ the audio output accepts the audio format.
# of the currently played file. See caveats mentioned in the manpage.
# (The default is "auto-safe", see manpage.)
#audio-channels=auto

# Set the maximum amplification level in percent (default: 130).
volume-max=160

######################
# subtitles settings #
######################

# Try harder to show embedded soft subtitles when seeking somewhere.
demuxer-mkv-subtitle-preroll=yes

# Specify font to use for subtitles that do not themselves specify a particular font.
sub-font='Bitstream Vera Sans'

# Specify the sub font size.
sub-font-size=64

# Specify the color used for unstyled text subtitles.
sub-color='#FFFFFFFF'

# Color used for sub text background.
sub-back-color='#00000000'

# Color used for the sub font border.
sub-border-color='#FF0F0F0F'

# Size of the sub font border in scaled pixels.
sub-border-size=4

# Color used for sub text shadow.
sub-shadow-color='#33000000'

# Displacement of the sub text shadow in scaled pixels.
sub-shadow-offset=1

# Horizontal sub font spacing in scaled pixels.
sub-spacing=0.5

# Blend subtitles directly onto upscaled video frames, before interpolation and/or color management.
blend-subtitles=yes

#######################
# screenshot settings #
#######################

# Set the image file type used for saving screenshots.
screenshot-format=png

# If possible, write screenshots with a bit depth similar to the source video.
screenshot-high-bit-depth=yes

# Set the PNG compression level. Higher means better compression.
screenshot-png-compression=6

# Set the JPEG quality level. Higher means better quality.
screenshot-jpeg-quality=80

# Store screenshots in this directory.
screenshot-directory='~/Pictures/Screenshots'

# Specify the filename template used to save screenshots.
screenshot-template='%F_%wH:%wM:%wS.%wT_%#04n'

##################
# other settings #
##################

# Pretend to be a web browser. Might fix playback with some streaming sites,
# but also will break with shoutcast streams.
#user-agent="Mozilla/5.0"

# cache settings
#
# Use a large seekable RAM cache even for local input.
#cache=yes
#
# Use extra large RAM cache (needs cache=yes to make it useful).
#demuxer-max-bytes=500M
#demuxer-max-back-bytes=100M
#
# Disable the behavior that the player will pause if the cache goes below a
# certain fill size.
#cache-pause=no
#
# Store cache payload on the hard disk instead of in RAM. (This may negatively
# impact performance unless used for slow input such as network.)
#cache-dir=~/.cache/
#cache-on-disk=yes

# Display (English by default) subtitles if available.
slang={{ SUBTITLE_LANGUAGES }}

# Play (English by default) audio if available.
alang={{ AUDIO_LANGUAGES }}

# Change subtitle encoding. For Arabic subtitles use 'cp1256'.
# If the file seems to be valid UTF-8, prefer UTF-8.
# (You can add '+' in front of the codepage to force it.)
#sub-codepage=cp1256

# Make mouse cursor automatically hide after given number of milliseconds.
cursor-autohide=500

# Pass arbitrary options to youtube-dl.
ytdl-raw-options=no-check-certificate=

# You can also include other configuration files.
#include=/path/to/the/file/you/want/to/include

############
# Profiles #
############

# The options declared as part of profiles override global default settings,
# but only take effect when the profile is active.

# The following profile can be enabled on the command line with: --profile=eye-cancer

#[eye-cancer]
#sharpen=5
