{
  "editor.fontFamily": "'Fira Code', 'Source Code Pro', 'monospace', monospace, 'Droid Sans Fallback'",
  "editor.fontSize": 14,
  "editor.suggestSelection": "first",
  "editor.wordWrapColumn": 120,
  "files.autoSave": "afterDelay",
  "terminal.integrated.shell.linux": "{% if (USER.SHELL is defined) and (USER.SHELL is search("/bin/bash")) %}/usr/bin/bash{% else %}/usr/bin/zsh{% endif %}",
  "terminal.integrated.shell.osx": "{% if (USER.SHELL is defined) and (USER.SHELL is search("/bin/bash")) %}/usr/bin/bash{% else %}/usr/bin/zsh{% endif %}",
  "update.mode": "none",
  "window.titleBarStyle": "custom",
  "window.zoomLevel": 0.20,
  "workbench.colorTheme": "Visual Studio Dark",
  "workbench.startupEditor": "none"
}
